<template>
  <v-content>
    <v-container>
      <app-timeline></app-timeline>
      <v-layout fill-height justify-center class="mt-5" align-start></v-layout>
      <v-snackbar v-model="showSnackbar" :color="snackbarColor" top right dark>
        {{ snackbarText }}
        <v-btn dark flat @click="showSnackbar = false">close</v-btn>
      </v-snackbar>
      <v-dialog v-model="showDialog" max-width="350px">
        <v-card>
          <v-card-text>
            <v-text-field
              label="reading"
              v-model="newReading"
              :rules="[() => !this.disableAdd ? 'Must be 7 digit number' : true]"
              placeholder="enter a new reading"
              outline
              append-outer-icon="create"
            ></v-text-field>
          </v-card-text>
          <v-spacer></v-spacer>
          <v-card-actions>
            <v-btn
              :loading="addButtonLoader"
              :disabled="!disableAdd"
              color="primary darken-1"
              flat
              @click="addReading()"
            >add</v-btn>
            <v-btn color="primary darken-1" flat @click.prevent="onDialogClosed()">close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
    <v-btn
      fab
      fixed
      right
      color="primary"
      absolute
      bottom
      class="cust-margin"
      @click.prevent="showDialog = true"
    >
      <v-icon>create</v-icon>
    </v-btn>
  </v-content>
</template>

<script>
import AppTimeline from "../components/AppTimeline";
import dialogUiState from "../mixins/dialog-ui-state.js";
import db from "@/fb";

export default {
  mixins: [dialogUiState],
  data() {
    return {
      newReading: null,
      showSnackbar: false,
      snackbarText: "success is yours!",
      snackbarColor: "primary"
    };
  },
  computed: {
    disableAdd() {
      return this.newReading ? this.newReading.length === 7 : "";
    }
  },
  methods: {
    calculateLitresUsed(lastReading, currentReading) {
      if (currentReading && lastReading) {
        return currentReading - lastReading;
      }
      return 0;
    },
    async fetchLatestReads() {
      let reads = [];

      try {
        let latestReads = await db
          .collection("readings")
          .orderBy("created", "desc")
          .limit(2)
          .get();

        latestReads.forEach(doc => {
          reads.push(doc.data());
        });
        console.log(reads);
        return reads;
      } catch (err) {
        console.log("cannot fetch reads:", err);
        this.snackbarColor = "error";
        this.snackbarColor = "something went wrong, check your connection";
        return reads;
      }
    },
    async addReading() {
      this.addButtonLoader = true;
      let dbReads = [];
      let timestamp = Date.now(); // todo: use server timestamp instead

      try {
        const dbReads = await this.fetchLatestReads();
        await db.collection("readings").add({
          reading: this.newReading,
          date: new Date().toDateString(),
          litresUsed: dbReads.length
            ? this.calculateLitresUsed(dbReads[0].reading, this.newReading)
            : 0,
          rating: dbReads.length
            ? this.calculateLitresUsed(dbReads[0].reading, this.newReading) / 6
            : 0,
          created: timestamp
        });
        this.showSnackbar = true;
      } catch (err) {
        this.snackbarColor = "red";
        this.snackbarText = "something went wrong, check your connection";
        this.showSnackbar = true;
        console.log("error saving to db :(", err);
      }

      this.addButtonLoader = false;
      this.onDialogClosed();
    }
  },
  components: {
    AppTimeline,
  }
};
</script>

<style scoped>
  .cust-margin {
    margin-bottom: 100px;
  }
</style>
