<template>
  <v-dialog v-model="showDialog" max-width="350px">
    <v-card>
      <v-card-title>enter new reading</v-card-title>
      <v-card-text>
        <v-text-field
          label="reading"
          v-model="currentReading"
          :rules="readingRules"
          outline
          append-outer-icon="create"
        ></v-text-field>
      </v-card-text>
      <v-spacer></v-spacer>
      <v-card-action>
        <v-btn v-if="canAdd" color="primary darken-1" flat @click="addNewReading" disabled>add</v-btn>
        <v-btn color="primary darken-1" flat @click="showDialog = false">close</v-btn>
      </v-card-action>
    </v-card>
  </v-dialog>
</template>


<script>
export default {
  // data() {
  //   return {
  //     newReading: null,
  //     readings: [],
  //     readingRules: [
  //       val => {
  //         if (this.newReading) {
  //           return !isNaN(val) ? true : "reading must be a number";
  //         }
  //         return "invalid reading";
  //       },
  //       val => {
  //         if (this.newReading) {
  //           return val.length === 7
  //             ? true
  //             : "use the first 7 digits of your reading";
  //         }
  //         return "invalid reading";
  //       }
  //     ]
  //   };
  // },
  //   methods: {
  //     addNewReading() {
  //       if (this.newReading) {
  //         if (this.newReading.length === 7) {
  //           this.readings.push(this.newReading);
  //           this.newReading = null;
  //           // send to firebase...
  //         }
  //       }
  //     }
  //   },
};
</script>
