<template>
  <v-timeline align-top dense>
    <v-slide-x-reverse-transition group hide-on-leave>
      <v-timeline-item v-for="reading in readings" :key="reading.id" color="primary" small>
        <v-card class="mx-auto mat-d" color="#243447" dark max-width="700">
          <v-card-title>
            <span class="title font-weight-light">{{ reading.date }}</span>
          </v-card-title>
          <v-card-text class="title font-weight-regular">
            Reading:
            {{ reading.reading }}
            <div class="mb-3"></div>
            <v-spacer></v-spacer>
            Used:
            {{ reading.litresUsed }} litres
            <div class="mb-3"></div>
            <v-spacer></v-spacer>
            Per Person: {{ Math.round(reading.rating) }} litres
          </v-card-text>
          <v-card-actions>
            <v-layout align-center justify-end>
              <v-chip
                :color="getChipColor(reading.rating)"
                text-color="white"
              >{{ getChipText(reading.rating) }}</v-chip>
            </v-layout>
          </v-card-actions>
        </v-card>
      </v-timeline-item>
    </v-slide-x-reverse-transition>
  </v-timeline>
</template>

<script>
import db from "@/fb";

export default {
  data: () => ({
    interval: null,
    readings: [],
    nonce: 2
  }),
  created() {
    db.collection("readings")
      .orderBy("created", "desc")
      .onSnapshot(res => {
        const changes = res.docChanges();
        changes.forEach(change => {
          console.log(change.doc.data());
          if (change.type === "added") {
            this.readings.push({
              ...change.doc.data(),
              id: change.doc.id
            });
          }
        });
      });
  },
  beforeDestroy() {
    this.stop();
  },
  methods: {
    getChipText(rating) {
      if (rating <= 60) {
        return "outstanding!";
      } else if (rating <= 70) {
        return "just missed the mark!";
      }
      return "poor performance"
    },
    getChipColor(rating) {
      if (rating <= 60) {
        return "green darken-2";
      } else if (rating <= 65) {
        return "warning";
      }
      return "error";
    },
    addEvent() {
      let { color, icon } = this.genAlert();

      const previousColor = this.items[0].color;

      while (previousColor === color) {
        color = this.genColor();
      }

      this.items.unshift({
        id: this.nonce++,
        color,
        icon
      });

      if (this.nonce > 6) {
        this.items.pop();
      }
    },
    start() {
      this.interval = setInterval(this.addEvent, 3000);
    },
    stop() {
      clearInterval(this.interval);
      this.interval = null;
    }
  }
};
</script>

<style scoped>
.mat-d {
  border-radius: 17px;
}
</style>
 