<template>
  <div>
    <v-card>
      <v-bottom-nav :active.sync="bottomNav" color="primary" :value="true" app fixed dark shift>
        <v-btn v-for="item in items" :key="item.title" router :to="item.route" dark>
          <span>{{ item.title }}</span>
          <v-icon>{{ item.icon }}</v-icon>
        </v-btn>
      </v-bottom-nav>
    </v-card>
    <v-toolbar app flat color="grey lighten-5">
      <v-layout class="justify-center">
        <v-toolbar-title class="grey--text">
          <span>
            <v-icon color="grey">data_usage</v-icon>
          </span>
          {{ getHeaderText() }}
        </v-toolbar-title>
      </v-layout>
    </v-toolbar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      bottomNav: 0,
      items: [
        { title: "Logs", icon: "data_usage", route: "/" },
        { title: "Statistics", icon: "bar_chart", route: "/statistics" },
        { title: "Account", icon: "person", route: "/account" }
      ]
    };
  },
  methods: {
    getHeaderText() {
      console.log(this.$route);
      switch (this.$route.path) {
        case "/":
          return "Logs";
        case "/statistics":
          return "Statistics";
        case "/account":
          return "Account";
      }
    }
  }
};
</script>