<template>
  <v-app>
    <router-view></router-view>
    <nav-menu></nav-menu>
  </v-app>
</template>

<script>
import NavigationMenu from "./components/NavigationMenu";
import Logs from "./views/Logs";
import Stats from "./views/Stats";

export default {
  components: {
    appHome: Logs,
    appStats: Stats,
    navMenu: NavigationMenu
  }
};
</script>